/*
WHEN WE LAST CHECKED OUR HERO HAD...
-Completed all HTML formatting
-Completed the Nav bar


AND WAS TRYING TO:
-Close the gap at the very top of the Nav bar
-Center the background of Our mission
-Trying to figure out why the H2 and H4 of 'Our Mission' is not displaying

*/

* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header Container*/
.header-container {
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 10;
  background-color: black;
}

/*Attempting to add buffer space between logo and nav*/
.tclogo {
  display: flex;
  flex-grow: 1;
}

/* Logo image details and alignment*/
.tclogo img {
  height: 50px;
  padding-left: 10px;
}

/*Alignment of Nav items to top right*/
.nav-items {
  display: flex;
/*  text-decoration: underline;*/
  padding-right: 10px;
}

/*Spacing and display of Nav Items*/
.nav-items span {
  display: inline-block;
  padding: 20px 10px;
}

/*Mission Container*/
.mission-container {
  padding-top: 69px;
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  background-image: url("./images/mission-background.jpg");
}

/**/
.mission-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}
/**/
/**/
