/*
WHEN WE LAST CHECKED OUR HERO HAD...
-Completed all HTML formatting
-Completed the Nav bar
-Completed Our Mission Div Container
-Completed Tea of the Month Div Container

AND WAS TRYING TO:
-Figure out why the H2 and H4 of all content is not displaying correctly
-Fix gap at very top of the Header bar
-Get the Location title and Location Boxes to display correctly

WHAT I'VE LEARNED:
-The Flexbox properties MUST go in the flex container to align the flex items
-->You cannot self-align a flex item, in order to align flex item (A) you must create a partent container (B) and then put the alignment properties in the parent container (B)
--> Only characteristic properties (i.e. sizing) can be self-imposed on a flex item (A)
   Ex. B {
      display: flex;
      flex-direction: column;
      justify-content: center;
      }
      A {
      height: 100px;
      width: 300px;
      padding: 20px (top&bottom) 10px (sides);
      margin: auto;
      border: 1px solid seashell;
      }
-Item

*/

* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header Container*/
.header-container {
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 10;
  background-color: black;
}

/*Attempting to add buffer space between logo and nav*/
.tclogo {
  display: flex;
  flex-grow: 1;
}

/* Logo image details and alignment*/
.tclogo img {
  height: 50px;
  padding-left: 10px;
}

/*Alignment of Nav items to top right*/
.nav-items {
  display: flex;
/*  text-decoration: underline;*/
  padding-right: 10px;
}

/*Spacing and display of Nav Items*/
.nav-items span {
  display: inline-block;
  padding: 20px 10px;
}

/*Main Content 1 - Aligning 'Mission' Container to center*/
.main-content1 {
  display: flex;
  justify-content: center;
}

/*Mission Container - Aligning 'Mission Image'to center of 'mission-container' */
.mission-container {
  padding-top: 69px;
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
}

/*Mission Image - Displys Image of Oats and Aligns the 'mission-bar' in the center of the image */
.mission-image {
  background-image: url("./images/mission-background.jpg");
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Mission Bar - sizing*/
.mission-bar {
  margin: auto;
  width: 100%;
}

/* Main Content2 - Positioning of Tea OTM Content */
.main-content2 {
  display: flex;
  justify-content: center;
}

/*Tea of the Month - Sizing Characteristics, Padding*/
.tea-otm {
  padding-top: 70px;
  width: 1000px;
}

/* Aligning of Tea Itmes */
.all-tea {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Sizing of Tea Elements */
.tea-item img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/*Main Content3 - Alignment*/
.main-content3 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  border: 4px dashed white;
}

/*Locations*/
.locations {
  background-image: url("./images/locations-background.jpg");
  height: 500px;
  width: 1200px;
  border: 3px solid yellow;
}

/*Properties of Location Title*/
.locations-title {
  margin-top: 70px;
  border: 2px solid green;
}

/*Location Boxes Container - Alignment*/
.location-boxes-container {
  display: flex;
  justify-content: center;
  border: 2px dashed red;
}

/*Location Box Items - Properties*/
.location-box-item {
  width: 300px;
  margin: 20px;
  opacity: 1;
  border: 1px solid seashell;
}
/**/
/**/
/**/
/**/
